<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1> {{todo_item.name}} </h1>
            <p>
                <a href = "{% url "update_todo_list" todo_item.id %}">Edit</a> <br>
                <a href = "{% url "delete_todo_list" todo_item.id %}">Delete</a> <br>
           </p>
            <h2> Tasks </h2>
            <p>
                <a href = "{% url "create_todo_item" %}">Create Task Item</a>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Is Completed?</th>
                    </tr>
                </thead>
                <tbody>
                    {%for tasks in todo_item.items.all %}
                        <tr>
                            <td>
                                <a href = "{% url "update_todo_item" tasks.id %}">{{ tasks.task }}</a>
                            </td>
                            <td> {{ tasks.due_date|date:"N j, Y" }}</td>
                            {%if tasks.is_completed %}
                                <td>Yes</td>
                            {%else %}
                                <td>No</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
