<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href = "{% url "todo_list_create" %}">Create a New List</a> <br>
                <a href = "{% url "create_todo_item" %}">Create a New Item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {%for lists in todo_list.all %}
                        <tr>
                            <td>
                                <a href ="{% url "todo_list_detail" lists.id %}"> {{lists.name}} <a/>
                            </td>
                            <td> {{lists.count_items}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
